{{ template "layout" . }}

{{ define "content" }}
<div class="w-full flex justify-center">
	<div class="w-1/3 xs:w-1/2 space-y-6">
		<div class="rounded bg-white/5 p-5">
			<h3 class="text-sm italic">Team</h3>
			<h1 class="text-4xl font-bold">{{ .team.TeamName }}</h1>
		</div>
		<div class="rounded bg-white/5 p-5">
			<h3 class="text-sm italic">Description</h3>
			<p>{{ .team.TeamDesc }}</p>
		</div>
		{{ template "players_section" . }}
	</div>
</div>
{{ end }}

{{ define "players_section" }}
<div class="rounded p-5 bg-white/5">
	<h1 class="text-sm italic pb-3">players</h1>
	<div class="columns-5">
		{{ range .players }}
			{{ template "player_card" . }}
		{{ end }}
	</div>
</div>
{{ end }}

{{ define "player_card" }}
<div class="rounded p-2.5 w-full bg-white/5">
	<h1 class="text-2xl">{{ .Username }}</h1>
</div>
{{ end }}
