{{ define "layout" }}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/quill.snow.css" rel="stylesheet"/>
		<link href="/static/output.css" rel="stylesheet">
		<script type="text/javascript" src="/static/main.js"></script>
	</head>
	<body class="flex flex-col justify-between min-h-screen text-white/95 border-white border-lg">
		{{ template "navbar" . }}
		<div class="grow px-4 pt-8">
			{{ block "content" . }}{{ end }}
		</div>
		{{ template "footer" . }}
	</body>
</html>
{{ end }}

{{ define "navbar" }}
<div class="flex justify-between px-4 py-1.5">
	<div>
		<h1 class="text-2xl font-bold"><a href="/">bstack</a></h1>
	</div>
	<div class="flex items-center space-x-4 text-lg font-semibold">
		<a href="/user/players_page">Players</a>
		<a href="/team/teams_page">Teams</a>
		<a href="#">Events</a>
		<a href="#">Forum</a>
	</div>
	<div class="text-lg">
		{{ if .username }}
			Logged in as {{ .username }}
		{{ else }}
			<a class="underline decoration-solid" href="/user/auth_page">
				Login/Signup
			</a>
		{{ end }}
	</div>
</div>
{{ end }}

{{ define "footer" }}
<footer class="pt-8">
	<div class="py-2 px-4 border-t border-white/15 text-white/80 italic">
		Created by Jonathan Nguyen
	</div>
</footer>
{{ end }}
